.listFilms {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style: none;
}

ul>li:hover {
    background-color: #e5e5e5;
    text-decoration: none;
}