body {
  background: white;
  /* font-family: "Heebo", sans-serif; */
}

ul {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
}

li {
  float: left
}

.main{
  /* 209×4+8*3=860  201×4+16*3=852  876px*/
  width: 910px;
  height: 670px;
  outline: 1px solid blue;
  margin: 40px auto;
}
.image {
  display: block;
  width: 201px;
  height: 147px;
  border-radius: 3px;
  margin: 3px 3px 6px
}

/* .image:hover {
  outline: 1px solid #13F3F3;
} */
.product_1_bg {
  /* 1+3+147+6+22+2+26+5=212 */
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
  border-radius: 4px;
  margin: 5px 4px;
  /* width: 209px;
  height: 212px; */
}

.product_1_title {
  display: block;
  text-decoration: none;
  /* Text_4 */
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  /* Text_dark2 */
  color: #373738;
  margin: 0 11px 2px
}

.product_1_price {
  display: inline-block;
  min-width: 7ch;
  /* Text_1 */
  font-family: Heebo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  /* Text_dark */
  color: #101010;
  margin: 0 122px 4px 11px;
  padding-right: 2px; 
}

.oval {
  /* text-align: center; */
  /* vertical-align: center; */
  /* position:  re;
  margin: 136px 8px 46px 171px */
  width: 30px;
  height: 30px;
  border: 1px;
  border-radius: 30px;
  /* White */
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.163407);
  /* перевірити */
  position: absolute;
  /* перевірити  147+4= 151-15=136*/
  top: 136px;
  /* перевірити */
  right: 8px
    /* border: 2px solid */
}

/* .oval:hover {
  outline: 1px solid #13F3F3;
} */
.shape {
  /* перевірити */
  /* display: inherit; */
  width: 18px;
  height: 17px;
  /* перевірити */
  padding: 7px 6px 6px;
  /* display: block;
  margin: 0 auto; */
  /* position: relative;
  /* перевірити */
  /* top: 6px; */
  /* перевірити */
  /* left: 4px; */
  /* перевірити */
  /* border-radius: 10%; /* перевірити */
}



.shape:hover {
  cursor: pointer;
  background: url(images/heart_grey.svg) no-repeat;
}

/* input[type="checkbox"] {
    content: url('http://placekitten.com/200/210');
    display: block;
    width: 200px;
    height: 200px;
}
input[type="checkbox"]:checked {
    content: url('http://placekitten.com/210/220');
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:hover {
    content: url('http://placekitten.com/210/220');
} */
