.listFilms {
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style: none;
}

ul>li:hover {
    background-color: #e5e5e5;
    text-decoration: none;
}

.btn-active {
    background: rgb(191, 191, 235);
}

.btn-noActive {
    background: rgb(251, 251, 253);
}

.hide {
    display: none;
}